// General
body,
.breadcrumb {
	background-color: $body-bg;
}

// Sidebar
.sidebar-column {
	box-shadow: 1px 0 0 0 #e6ebf1;
	.sidebar-item a {
		font-size: $font-size-lg;
	}
}

//Buttons
.btn-outline-primary {
	background-color: white;
}


.btn-light,
.btn-default,
a:not([href]).btn-default,
a:not([href]).btn-light {
	background-color: #2d3748;
	color: white;
}


// Footer
.web-footer {
	background-color: #2d3748;
	.dokos-footer-extension {
		.btn {
			box-shadow: none;
		}
		.btn-outline-secondary {
			color: white;
			padding: 0 1rem;
			border: 1px solid;
			border-radius: 0 $border-radius $border-radius 0;
		}
		#footer-subscribe-email {
			border-radius: $border-radius 0 0 $border-radius;
		}
	}
	
	.footer-info,
	.footer-links,
	.powered-by-link {
		color: white;
	}
}

//Website List
.website-list .result {
	a {
		text-decoration: none;
	}

	.transaction-time {
		padding: 3px 10px;
	}
}

// Products
.product-image img {
	min-height: 20rem;
	max-height: 30rem;
}

.filter-options {
	margin-left: -5px;
	padding-left: 5px;
	max-height: 300px;
	overflow: auto;
}

.item-slideshow-image {
	height: 3rem;
	width: 3rem;
	object-fit: contain;
	padding: 0.5rem;
	border: 1px solid $border-color;
	border-radius: 4px;
	cursor: pointer;

	&:hover, &.active {
		border-color: $primary;
	}
}

// Cart
.place-order-container {
	text-align: right;
}

.cart-items {
	.cart-btn {
		padding: .38rem 1rem;
	}
}

// Address
.address-card {
	cursor: pointer;
	position: relative;

	.check {
		display: none;
	}

	&.active {
		border-color: $primary;

		.check {
			display: inline-flex;
		}
	}
}

// Support
.kb-card {
	.card-body > .card-title {
		line-height: 1.3;
	}
}

// Blog
.blog-card .card {
	border: none;
	box-shadow: $card-shadow;
	border-radius: $border-radius-md;
}