{% extends "templates/web.html" %}
{% from "erpnext/templates/includes/order/order_macros.html" import item_name_and_description %}

{% block breadcrumbs %}
	{% include "templates/includes/breadcrumbs.html" %}
{% endblock %}

{% block title %}{{ doc.name }}{% endblock %}

{% block header %}
	<h2>{{ doc.name }}</h2>
{% endblock %}

{% block header_actions %}
<div class="dropdown">
	<button class="btn btn-outline-secondary dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
		<span>{{ _('Actions') }}</span>
		<b class="caret"></b>
	</button>
	<ul class="dropdown-menu dropdown-menu-right" role="menu">
		{% if doc.doctype == 'Purchase Order' %}
		<a class="dropdown-item" href="/api/method/erpnext.buying.doctype.purchase_order.purchase_order.make_purchase_invoice_from_portal?purchase_order_name={{ doc.name }}" data-action="make_purchase_invoice">{{ _("Make Purchase Invoice") }}</a>
		{% endif %}
		<a class="dropdown-item" href='/printview?doctype={{ doc.doctype}}&name={{ doc.name }}&format={{ print_format }}'
			target="_blank" rel="noopener noreferrer">
			{{ _("Print") }}
		</a>
	</ul>
</div>
{% endblock %}

{% block page_content %}

<div class="row transaction-subheading">
	<div class="col-6">
		<span class="indicator-pill {{ doc.indicator_color or ("blue" if doc.docstatus==1 else "darkgray") }}">
			{{ _(doc.get('indicator_title')) or _(doc.status) or _("Submitted") }}
		</span>
	</div>
	<div class="col-6 text-muted text-right small">
		{{ frappe.utils.format_date(doc.transaction_date, 'medium') }}
		{% if doc.valid_till %}
		<p>
		{{ _("Valid Till") }}: {{ frappe.utils.format_date(doc.valid_till, 'medium') }}
		</p>
		{% endif %}
	</div>
</div>

<p class="small my-3">
	{%- set party_name = doc.supplier_name if doc.doctype in ['Supplier Quotation', 'Purchase Invoice', 'Purchase Order'] else doc.customer_name %}
	<b>{{ party_name }}</b>

	{% if doc.contact_display and doc.contact_display != party_name %}
		<br>
		{{ doc.contact_display }}
	{% endif %}
</p>

{% if doc._header %}
{{ doc._header }}
{% endif %}

<div class="order-container frappe-card">

	<!-- items -->
	<div class="order-item-table">
		<div class="row order-items order-item-header text-muted">
			<div class="col-sm-6 col-6 h6 text-uppercase">
				{{ _("Item") }}
			</div>
			<div class="col-sm-3 col-3 text-right h6 text-uppercase">
				{{ _("Quantity") }}
			</div>
			<div class="col-sm-3 col-3 text-right h6 text-uppercase">
				{{ _("Amount") }}
			</div>
		</div>
		{% for d in doc.items %}
		<div class="row order-items">
			<div class="col-sm-6 col-6">
				{{ item_name_and_description(d) }}
			</div>
			<div class="col-sm-3 col-3 text-right">
				{{ d.qty }}
				{% if not doc.skip_delivery_note and d.delivered_qty is defined and d.delivered_qty != None %}
				<p class="text-muted small">{{ _("Delivered") }}&nbsp;{{ d.delivered_qty }}</p>
				{% endif %}
			</div>
			<div class="col-sm-3 col-3 text-right">
				{{ d.get_formatted("amount") }}
				<p class="text-muted small">{{ _("Rate:") }}&nbsp;{{ d.get_formatted("rate") }}</p>
			</div>
		</div>
		{% endfor %}
	</div>

	<!-- taxes -->
	<div class="order-taxes d-flex justify-content-end mt-5">
		<table>
			{% include "erpnext/templates/includes/order/order_taxes.html" %}
		</table>
	</div>
</div>

{% if enabled_checkout and ((doc.doctype=="Sales Order" and doc.per_billed <= 0)
	or (doc.doctype=="Sales Invoice" and doc.outstanding_amount > 0)) %}

	{% if available_loyalty_points %}
		<div class="frappe-card mt-3">
			<div class="card-body">
				<h5 class="card-title">{{ _("Redeem loyalty points") }}</h5>
				<div class="control-input-wrapper">
					<div class="control-input">
						<input class="form-control" type="number" min="0" max="{{ available_loyalty_points }}" id="loyalty-point-to-redeem">
					</div>
					<p class="help-box small text-muted d-none d-sm-block"> {{ _("Points available:") }} {{ available_loyalty_points }} </p>
				</div>
			</div>
		  </div>
	{% endif %}

	<div class="frappe-card mt-3">
		<div class="card-body">
			<h5 class="card-title">{{ _("Payment") }}</h5>
			<p id="loyalty-points-status"></p>
			<a href="/api/method/erpnext.accounts.doctype.payment_request.payment_request.make_payment_request?dn={{ doc.name }}&dt={{ doc.doctype }}&submit_doc=1&order_type=Shopping Cart" id="pay-for-order" class="btn btn-primary">{{ _("Pay") }} {{ doc.get_formatted("grand_total") }}</a>
		</div>
	</div>
{% endif %}


{% if attachments %}
<div class="order-item-table frappe-card card">
	<div class="row order-items order-item-header text-muted">
		<div class="col-sm-12 h6 text-uppercase">
			{{ _("Attachments") }}
		</div>
	</div>
	<div class="row order-items">
		<div class="col-sm-12">
			{% for attachment in attachments %}
			<p class="small">
				<a href="{{ attachment.file_url }}" target="blank"> {{ attachment.file_name }} </a>
			</p>
			{% endfor %}
		</div>
	</div>
</div>
{% endif %}
</div>
{% if doc.terms %}
<div class="terms-and-condition text-muted small">
	<hr><p>{{ doc.terms }}</p>
</div>
{% endif %}
{% endblock %}

{% block script %}
	<script> {% include "templates/pages/order.js" %} </script>
	<script>
		window.doc_info = {
			customer: '{{doc.customer}}',
			doctype: '{{ doc.doctype }}',
			doctype_name: '{{ doc.name }}',
			grand_total: '{{ doc.grand_total }}',
			currency: '{{ doc.currency }}'
		}
	</script>
{% endblock %}

{% block style %}
<style>
.tax-row td,
.tax-row th {
	padding: 10px 15px;
}
</style>
{% endblock %}