
{% if not jQuery.isEmptyObject(data) %}
<table class="table table-bordered small">
	<thead>
		<tr>
			<th style="width: 16%">{{ __("Leave Type") }}</th>
			<th style="width: 16%" class="text-right">{{ __("Total Allocated Leaves") }}</th>
			<th style="width: 16%" class="text-right">{{ __("Expired Leaves") }}</th>
			<th style="width: 16%" class="text-right">{{ __("Used Leaves") }}</th>
			<th style="width: 16%" class="text-right">{{ __("Pending Leaves") }}</th>
			<th style="width: 16%" class="text-right">{{ __("Available Leaves") }}</th>
		</tr>
	</thead>
	<tbody>
		{% for(const [key, value] of Object.entries(data)) { %}
			<tr>
				<td> {%= key %} </td>
				<td class="text-right"> {%= value["total_leaves"] %} </td>
				<td class="text-right"> {%= value["expired_leaves"] %} </td>
				<td class="text-right"> {%= value["leaves_taken"] %} </td>
				<td class="text-right"> {%= value["pending_leaves"] %} </td>
				<td class="text-right"> {%= value["remaining_leaves"] %} </td>
			</tr>
		{% } %}
	</tbody>
</table>
{% else %}
<p style="margin-top: 30px;">{{ __("No Leaves have been allocated.") }}</p>
{% endif %}